<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Petition</title>
    <link rel="stylesheet" th:href="@{/stylesheets/homeStyle.css}">
</head>
<body>
    <div class="new-petition">
        <form action="#" method="post">
            <label>Title:</label>
            <input type="text" name="title" required>
            <label>Description:</label>
            <textarea name="description" required></textarea>
            <button type="submit" class="create-button">Create</button>
        </form>
    </div>
</body>
</html>